.transaction-item-contention-content {
    height: 25px;
}

.months-filter {
    padding: 15px;
}

.corner {
    position: absolute;
    right: 5%;
}

.transaction-top {
    padding-left: 0;
}

.transacion-name {
    font-weight: bold;
    font-size: 1.1rem;
}