/* Dashboard */
.dashboard-value {
    margin: 1rem 0;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 800;
}

.dashboard-list-item {
    border-bottom: 1px solid var(--ion-color-body-light);
}

.download-report-button {
    margin-top: 1rem;
}

.dashboard-list {
    height: 100%;
    overflow-y: scroll;
    margin-bottom: 2rem;
}
/* Chrome, Safari, Opera hide scrollbar */
.dashboard-list::-webkit-scrollbar { width: 0  }
/* Firefox hide scrollbar */
.dashboard-list { overflow: -moz-scrollbars-none; }
/*  IE10 hide scrollbar */
.dashboard-list { -ms-overflow-style: none; }

.months-filter {
    padding: 15px 0 !important;
}

.cat-circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--ion-color-secondary);
}

.cat-amount {
    width: 70px;
    flex: 0 0 70px;
    text-align: right;
}