.add-category-title {
    text-align: left;
    padding-left: 16px;
}

.category-form {
    width: 100%;
    display: flex;
    align-items : center;
    justify-content: center;
}

#btn-save-category {
    margin-top: 50px;
}

.submission-msg {
    display: flex;
    justify-content: center;
}