ion-content {
    /* --padding-bottom: 10px; */
    --padding-end: 24px;
    --padding-start: 24px;
    /* --padding-top: 20px; */
}

ion-toolbar {
    --background: none;
    --border-color: transparent;
    --padding-end: 0;
    --padding-start: 0;
}

ion-title {
    --padding-end: 0;
    --padding-start: 0;
}

.home-title {
    padding-top: 1.5rem !important;
}

.sub-title {
}