.menu-items {
    margin-top: 20px;
}

.menu-item-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 25px 15px;
    margin: 5px;
    background-color: #f7f8fa;
}

.menu-item-icon {
    font-size: 3rem;
    color: var(--ion-color-icon);
}

.menu-item-name {
    font-weight: 600;
}