/* Categories */

.category-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 25px 15px;
    border: 1px solid var(--ion-color-border);
}

.category-icon {
    font-size: 3rem;
    color: var(--ion-color-icon);
}

.category-name {
    font-weight: 600;
}