ion-content {
    /* --padding-bottom: 10px; */
    --padding-end: 24px;
    --padding-start: 24px;
    /* --padding-top: 20px; */
}

ion-toolbar {
    --background: none;
    --border-color: transparent;
    --padding-end: 0;
    --padding-start: 0;
}

ion-title {
    --padding-end: 0;
    --padding-start: 0;
}

.recurring-item-header {
    display: flex;
    align-items: center;
}

.header-left {
    color: var(--ion-color-dark);
}

.header-right {
    flex-grow: 1;
    margin-left: auto;
}

.item-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.item-overview {
    font-weight: 300;
}

.recurring-cat {
    font-weight: 300;
    font-size: .8rem;
}

.recurring-bottom {
    display: flex;
    align-items: center;
}

.recurring-bottom .delete-icon {
    margin-left: auto;
}