/*Typography*/
a {
    color: var(--ion-color-secondary);
}

.header {
    z-index: 999;
    margin: 3rem 0;
}

.no-display {
    display: none !important;
}

/* Navigation */
.main-nav {
    height: 80px;
    contain: inherit;
}

.main-nav ion-tab-button {
    color: var(--ion-color-dark);
}

.main-nav ion-tab-button.tab-selected {
    color: var(--ion-color-secondary);
}

.btn-add-payment {
    width: 60px;
    height: 60px;
    position: absolute;
    background: var(--ion-color-primary);
    border-radius: 20px;
    bottom: 50px;
    z-index: 20;
}

.btn-add-payment ion-icon {
    color: #fff;
}

.mid-nav {
    width: 40px;
}

/*
* page
*/

.header-md::after {
    background: none;
}

.toolbar-background {
    border-width: none !important;
}

.top-bar {
}

ion-title {
    font-weight: 700;
}

.title {
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 2rem;
}

.sub-title {
    font-size: .9rem;
    display: block;
    color: var(--ion-color-body-light);
    text-align: left;
    padding-right: 16px;
    padding-left: 16px;
    font-weight: 600;
}

.btn-menu {
    border-radius: 50% !important;
    width: 4rem !important;
    height: 4rem !important;
    border: 1px solid var(--ion-color-border);
}

.btn-menu-contrast {
    border: 1px solid rgba(255,255,255,0.2);
}

.menu-icon {
    font-size: 1.5rem !important;
}

.delete-budget-btn {
    border-radius: 50% !important;
    width: 3rem !important;
    height: 3rem !important;
    border: 1px solid var(--ion-color-border);
}

.delete-budget-btn-contrast {
    border: 1px solid rgba(255,255,255,0.2);
}

.menu-icon {
    font-size: 1.5rem !important;
}

/*Body*/

.body-actions {
    display: flex;
    margin-top: 4rem;
    padding-right: 16px;
    padding-left: 16px;
}

.body-title {
    flex-grow: 1;
}

.body-action {
    font-size: .8rem;
    margin-left: auto;
    color: var(--ion-color-body-light);
}

/*Cards*/

ion-card {
    border-radius: 24px;
}

.card-top {
    font-weight: 600;
    color: var(--ion-color-dark);
}

.card-bottom {
    margin-top: 2rem;
}

.card-bottom ion-card-title {
    font-size: 1.5rem;
}

.card-bottom ion-card-subtitle {
    text-transform: none;
    font-weight: 500;
}

/* Modal */

.modal-header {
    margin-top: 2.5rem;
}

.modal-content {
    padding: 25px 16px;
}

.months-filter {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.months-filter {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.months-filter::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.months-filter ion-chip{
}

/* Chips */

ion-chip.active-chip {
    --background: #fff;
    --color: #000;
}

ion-chip.active-chip-dark {
    --background: #252C62;
    --color: #FFFFFF;
}

/* Progress Bar */
ion-progress-bar {
    height: 8px;
}

/* Loaders */
.backdrop-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.backdrop-spinner ion-spinner {
    width: 80px;
    height: 80px;
}

.loading {
    --background: #222;
    --spinner-color: #fff;
    color: #fff;
}

ion-progress-bar {
    border-radius: 4px;
}

.popover-content {
    padding: 15px;
}

.popover-item {
    padding: 15px;
    cursor: pointer;
}

.text-right {
    text-align: right;
}

.single-transaction {
    box-shadow: none;
}