.ion-color-body-light {
    --ion-color-base: var(--ion-color-body-light);
    --ion-color-base-rgb: var(--ion-color-body-light-rgb);
    --ion-color-contrast: var(--ion-color-body-light-contrast);
    --ion-color-contrast-rgb: var(--ion-color-body-light-contrast-rgb);
    --ion-color-shade: var(--ion-color-body-light-shade);
    --ion-color-tint: var(--ion-color-body-light-tint);
}

.ion-color-dark-contrast {
    --ion-color-base: var(--ion-color-dark-contrast);
    --ion-color-base-rgb: var(--ion-color-dark-contrast-rgb);
    --ion-color-contrast: var(--ion-color-dark-contrast-contrast);
    --ion-color-contrast-rgb: var(--ion-color-dark-contrast-contrast-rgb);
    --ion-color-shade: var(--ion-color-dark-contrast-shade);
    --ion-color-tint: var(--ion-color-dark-contrast-tint);
}

.ion-color-white {
    --ion-color-base: var(--ion-color-white);
    --ion-color-base-rgb: var(--ion-color-white-rgb);
    --ion-color-contrast: var(--ion-color-white-contrast);
    --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
    --ion-color-shade: var(--ion-color-white-shade);
    --ion-color-tint: var(--ion-color-white-tint);
}

.ion-color-green {
    --ion-color-base: #72CEC1;
}

.ion-color-gray {
    --ion-color-base: #C1C1C1; 
}