.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-flow: column;
}

.logo {
    text-align: center;
}

.logo h1 {
    font-weight: 800;
}

.logo p {
    font-size: .9rem;
    font-size: 300 !important;
    opacity: .5;
    margin-top: 0;
}

.login-form {
    width: 100%;
    padding: 20px 40px;
}

.login-form ion-item {
    margin-bottom: 0;
}

.login-form .password {
    margin-bottom: 40px !important;
}

.login-controls {
    background: var(--ion-color-primary);
}

ion-item {
    border-bottom: 1px solid rgba(255,255,255,.1);
}

#sign-up {
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}