.add-payment-title {
    text-align: left;
    padding-left: 16px;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

ion-select, ion-datetime, ion-label {
    padding-left: 7px;
}

#recurring {
  margin-bottom: auto;
  margin-top: auto;
}

ion-toggle {
  --background-checked: green;
  --handle-background-checked: white;
  --handle-box-shadow: 0 0 1px 1px green;
  float: right;
  padding-right: 1px;
}

.fixedLabel {
  min-width: 10% !important;
  max-width: 10% !important;
}