.account-page-title {
    text-align: center;
}

.account-balance {
    text-align: center;
    font-size: 3.2rem;
    margin: 2rem auto;
    color: #fff;
    font-weight: bold;
}

.account-pnl-div {
    margin-bottom: 2rem;
    padding-left: 15px;
    height: 30%
}

.account-payment-summary {
    padding: 0.6rem;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45vh;
    overflow: auto;
}

.payment-summary-title {
    padding: 1rem;
    color: #92949c;
}

.summary-list-header {
    font-weight: bold;
    font-size: 1.2rem;
}

.payment-label {
    font-size: 1rem;
    padding-left: 0 !important;
}

.payment-value {
    font-size: 1rem;
}

.income-bar {
    height: 0.5rem;
    width: 280px;
    background-color: #2dd36f;
    left: 0;
}

.expense-bar {
    height: 0.5rem;
    width: 180px;
    background-color: #eb445a;
    left: 0;
}

.progress-labels {
    display: flex;
    align-items: center;
}

.progress-value {
    margin-left: auto;
    color: #fff;
}

.overview-title {
    padding: 0 1rem;
    font-size: 1.2rem;
}

.progress-def {
    color: rgba(255,255,255,0.6)
}

.progress-section {
    border-bottom: none !important;
}

.trashIcon {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}


.editIcon {
    position: absolute;
    right: 100px;
    top: 5px;
    cursor: pointer;
}

.trashBackground {
    background-color: white;
}
.modal-header {
    /* height: 10% */
}

.card-transaction {
    box-shadow: none !important;
    margin: 0 -4px 15px -4px;
}

.transaction-title {
    font-size: 1.2rem;
}

.transaction-header {
    padding-bottom: 5px;
}