
.group {
  border: 1px solid lightgray;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  background-color: lightgray;
}

.no-padding {
  padding: 0px;
}

.choice-item {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 15px 15px 15px 15px;
  width: 100%;
  text-align: center;
}

.left {
  float: right;
}

.right {
  float: left;
}

.selected {
  background-color: white;
}
